#cajacategoria{
    text-align: center; 
    margin-top: 30px;
    margin-bottom: 30px;
}

.custom-section {
    text-align: center;
    
}

.rounded-image {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}